{% extends 'Staff/staff_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/seach_leave#about">
  <table width="269" border="6"  class="table table-light" >

   <tr align="center" class="table-secondary">
    <td colspan="10"><p><h2><b>VIEW LEAVE REQUEST</b></h2></p></td>

  </tr>

    <tr>
      <th colspan="3">Date
        <label>
        <input type="date" name="textfield" />

            <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>      </label></th>
    </tr>
    <tr>
      <th width="44">Date</td>
      <th width="87">Student Name </th>
      <th width="116">Reason</th>
    </tr>{% for i in val %}
    <tr>
      <td>{{ i.date }}</td>
      <td>{{ i.PARENT.fname}} {{ i.PARENT.lname}}</td>
      <td>{{ i.reason }}</td>
    </tr>{% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}