{% extends 'Expert/expert_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addedsugges#about">
  <table width="295"  border="6"  class="table table-light">
    <tr>

         <td>Type</td>
      <td><select name="select" id="check" onchange="check()"  class="btn btn-light dropdown-toggle"   style="width:206px;" required>
          <option>--select--</option>
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
      </select></td>
    </tr>
      <tr>

      <td width="71">Mark</td>
      <td width="208"><label>
        <input type="text" name="textfield"  class="form-control" required/>
      </label></td>
    </tr>
    <tr>
      <td>Suggestions</td>
      <td><label>
        <input type="text" name="textfield2" class="form-control" required />
      </label></td>
    </tr>
   <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="ADD"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}