{% extends 'Expert/expert_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addedques#about">
  <table width="268" border="6"  class="table table-light" >
      <tr>
      <td width="80">Study Material </td>
      <td width="190"><select name="select"  class="btn btn-light dropdown-toggle" style="width:206px;"  required>
          {% for i in val %}
          <option value={{ i.id }}>{{ i.name }}</option>
          {% endfor %}
      </select>
       </td>
    </tr>

      <tr>
      <td width="60">Questions</td>
      <td width="192"><label>
        <input type="text" name="textfield" class="form-control" style="width:206px;" required />
      </label></td>
    </tr>
    <tr>
      <td>Answers</td>
      <td><label>
        <input type="text" name="textfield2" class="form-control" style="width:206px;"  required/>
      </label></td>
    </tr>
       <td>Type</td>
      <td><select name="select2" id="check" onchange="check()"  class="btn btn-light dropdown-toggle"   style="width:206px;" required>
          <option>--select--</option>
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
      </select></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="ADD"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}