{% extends 'Parent/parent_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/search_doubt#about">
  <table width="282" height="105" border="1" class="table table-light" >

        <tr align="center" class="table-secondary">
      <td colspan="8"><h2><b>ASK DOUBT & VIEW REPLY</b></h2></td>
       </tr>

    <tr>
      <th colspan="4">Date
        <label>
        <input type="date" name="textfield" />
 <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>        </label></th>
    </tr>
    <tr>
      <th width="67">Expert</th>
      <th width="74">Doubts</th>
      <th width="50">Date</th>
      <th width="63">Reply</th>
    </tr>{% for i in val %}
    <tr>
      <td>{{ i.EXPERT.fname }}&nbsp;{{ i.EXPERT.lname }}</td>
      <td>{{ i.doubt }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.reply }}</td>
    </tr>{% endfor %}
    <tr>
      <td colspan="4"><div align="center">
          <label>
        <a href="/ask_doubt#about"class="btn btn-primary">Ask Doubt</a>
          </label></div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}