{% extends 'Parent/parent_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/adddoubt#about">
  <table width="271"  border="6"  class="table table-light" >
    <tr>
      <td width="80">Expert</td>
      <td width="190"><select name="select"  class="btn btn-light dropdown-toggle" style="width:206px;" required>
          {% for i in val %}
          <option value={{ i.id }}>{{ i.fname }}&nbsp;{{ i.lname }}</option>
          {% endfor %}
      </select>
       </td>
    </tr>
    <tr>
      <td>Doubts</td>
      <td><label>
        <input type="text" name="textfield" class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,200}"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Send"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}