<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="245" border="1">
    <tr>
      <td width="235"><a href="view_DA">view daily activities</a></td>
    </tr>
    <tr>
      <td><a href="sendleave">send leave request</a></td>
    </tr>
    <tr>
      <td><a href="chatwithstaff">chat with staff</a></td>
    </tr>
    <tr>
      <td><a href="ask_doubt_reply">ask doubt to expert and view reply</a></td>
    </tr>
    <tr>
      <td><a href="#">interact with chatbot</a></td>
    </tr>
    <tr>
      <td><a href="#">view suggestios from chatbot</a></td>
    </tr>
    <tr>
      <td><a href="#">view evaluation result</a></td>
    </tr>
    <tr>
      <td><a href="view_SM">view study materials</a></td>
    </tr>
    <tr>
      <td><a href="view_attendence">view attendence</a></td>
    </tr>
    <tr>
      <td><a href="/">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
