{% extends 'Staff/staff_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addedattendence#about">
  <table width="264" border="6"  class="table table-light" >
    <tr>
      <th width="69" >Date</th>
      <td width="179"colspan="3">
        <input type="date" name="textfield" value="{{ d }}" max="{{ d1 }}"  style="width:120px;height:30px"/>


          <label>Class</label>
          <select name="select" id="check" onchange="check()"  class="dropdown-toggle" style="width:120px;height:30px">
          <option>--select--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
      </select>
      <input type="submit" name="Submit" value="Search"  class="btn btn-primary"/></td>
    </tr>


    <tr>
      <th>Roll.No</th>

      <th><label>Student name </label></th>
        <td></td>
    </tr>
  {% if s == "0" %}
      {% for i in val %}
    <tr>
 <td>{{ forloop.counter }}</td>
      <td>{{ i.fname }} {{ i.lname }}</td>
     <td><input name="checkbox" type="checkbox" value="{{ i.id }}" checked="checked" /></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="3"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Save"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  {% else %}
{% for i in val %}
    <tr>
    <td>{{ forloop.counter }}</td>
      <td>{{ i.PARENT.fname }} {{ i.PARENT.lname }}</td>
    <td><input name="checkbox" type="checkbox" value="{{ i.id }}" {% if i.attendence == 1 %}checked="checked" {%  endif %} /></td>

    </tr>
      {% endfor %}
   <tr>
      <td colspan="3"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Update"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
    {% endif %}
  </table>
</form>
</body>
</html>
{% endblock %}