{% extends 'Staff/staff_index.html' %}
{% block body %}

<body>
<form action="/updateparent" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="253" border="6"  class="table table-light" style="width: 600px;">
    <tr>
      <td width="61">Fname</td>
      <td width="176"><label>
        <input type="text" name="textfield"  value="{{ i.fname }}"  class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Lname</td>
      <td><label>
        <input type="text" name="textfield2"  value="{{ i.lname }}"  class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Ph_no</td>
      <td><label>
        <input type="text" name="textfield3"  value="{{ i.ph_no }}" class="form-control" style="width:206px;"  required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield4"  value="{{ i.email }}"  class="form-control" style="width:206px;" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td>Parent Name </td>
      <td><label>
        <input type="text" name="textfield5"  value="{{ i.parent_name }}"  class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Class</td>
       <td><select name="select" id="check" onchange="check()" class="btn btn-light dropdown-toggle" style="width:206px;" required>
          <option>--select--</option>
          <option value="1" {% if i.Class == 1 %} selected {% endif  %}>1</option>
          <option value="2" {% if i.Class == 2 %} selected {% endif  %}>2</option>
          <option value="3" {% if i.Class == 3 %} selected {% endif  %}>3</option>
          <option value="4" {% if i.Class == 4 %} selected {% endif  %}>4</option>
      </select></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label>
        <input type="date" name="textfield7" value="{{ i.DOB|date:'Y-m-d'}}" class="form-control" style="width:206px;"  min="2011-01-01" max="2018-12-31" required/>
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>
       <input type="radio" name="gender" value="Female"  {% if i.gender == 'Female' %} checked{% endif %}/>Female
        <input type="radio" name="gender" value="Male"  {% if i.gender == 'Male' %} checked{% endif %} />Male
     </td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield9" value="{{ i.place }}"  class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield10"  value="{{ i.post }}"  class="form-control"  style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield11" value="{{ i.pin }}" class="form-control" style="width:206px;" required pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label><img src="{{ i.photo.url }}" width="100" height="100"><br>
        <input type="file" name="file" value="{{ i.photo }}"  class="form-control" style="width:206px;"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Update" class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}