{% extends 'Staff/staff_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-light">

      <tr align="center" class="table-secondary">
    <td colspan="4"><h2><b>UPGRADE STUDENT'S CLASS</b></h2></td>

  </tr>

    <tr>
      <th>Students</th>
      <td>&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ i.fname }} {{ i.lname }}</td>
      <td><a href="/upgradepost/{{ i.id }}">Upgrade</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}