{% extends 'Parent/parent_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="307" height="99" border="1" class="table table-light">

        <tr align="center" class="table-secondary">
      <td colspan="8"<p><h2><b>VIEW ATTENDANCE</b></h2></p></td>
       </tr>
     <tr>
      <th> Student Name</th>
      <td>{{d}}</td>
    </tr>


    <tr>
      <th>Total Working Days</th>
      <td>{{ twd }}</td>
    </tr>
    <tr>
       <th>Total Present Days</th>
      <td>{{ tpd }}</td>
    </tr>
     <tr>
       <th>Total Absent Days</th>
      <td>{{ tad }}</td>
    </tr>
     <tr>
       <th>Percentage(%)</th>
      <td>{{ per }}</td>
    </tr>
      <tr><td colspan="2"><div align="center"><a href="/view_attendence1#about">View Details</a> </div> </td> </tr>

{#      <th width="49">Date</th>#}
{#      <th width="87">Attendence</th>#}
{#    </tr>#}
{#      {% for i in val %}#}
{#    <tr>#}
{#      <td>{{ i.date }}</td>#}
{#      <td>{{ i.attendence }}</td>#}
{##}
{#    </tr>#}
{#      {% endfor %}#}
  </table>
</form>
</body>
</html>
{% endblock %}