{% extends 'Staff/staff_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addedDA">
  <table width="267" border="6"  class="table table-light" >
{#    <tr>#}
{#      <td width="49">Date</td>#}
{#      <td width="202"><label>#}
{#        <input type="date" name="textfield"  class="form-control" style="width:204px;" required  min="{{ d1 }}"/>#}
{#      </label></td>#}
{#    </tr>#}
    <tr>
      <td>Acitivity</td>
      <td><label>
        <input type="text" name="textfield2" class="form-control" style="width:204px;" required pattern="[A-Z a-z 0-9.]{2,100}" />
      </label></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><label>
        <input type="text" name="textfield3" class="form-control" style="width:204px;" required pattern="[A-Z a-z 0-9.]{2,200}" />
      </label></td>
    </tr>
      <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="ADD"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
