{% extends 'Staff/staff_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/search_DA#about">
  <table width="279" height="136" border="1" class="table table-light">

   <tr align="center" class="table-secondary">
    <td colspan="4"<p><h2><b>MANAGE DAILY ACTIVITIES</b></h2></p></td>
   </tr>

    <tr>
      <th  colspan="4">Date
        <label>
        <input type="date" name="textfield" />
            <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
      </label></th>
    </tr>
    <tr>
      <th width="38">Date</th>
      <th width="57">Activity</th>
      <th width="57">Details</th>
      <th width="99">&nbsp;</th>
    </tr>{% for i in val %}
    <tr>
      <td>{{ i.date }}</td>
      <td>{{ i.activity}}</td>
      <td>{{ i.details }}</td>
      <td><p><a href="/editda/{{ i.id }}#about" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a></p>
      <p><a href="/deleteda/{{ i.id }}"  onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a></p></td>
    </tr>{% endfor %}
    <tr>
      <td colspan="4"><div align="center"><a href="/add_DA#about" class="btn btn-primary"><i class="bi bi-plus-square-fill"></a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}