{% extends 'homepage/index.html' %}
{% block body %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#check").change(function(){
    var id=document.getElementById("check").value;
   if (id == "1" ){
    $(".cat1").show();
}
else{
       $(".cat1").hide();
   }
  });
});
</script>
</head>
<body>
<form action="/addedstaff" method="post" enctype="multipart/form-data" name="form1" id="form1">
      <table width="292" border="6"  class="table table-light" style="width: 600px;">

    <tr>
      <td width="94">Fname</td>
      <td width="182"><label>
        <input type="text" name="textfield" class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Lname</td>
      <td><label>
        <input type="text" name="textfield2" class="form-control"  style="width:206px;" required pattern="[A-Z a-z .]{2,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>
        <input type="radio" name="gender" value="Female" />Female
        <input type="radio" name="gender" value="Male" />Male
      </td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield4" class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield5" class="form-control" style="width:206px;" required pattern="[A-Z a-z .]{2,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield6" class="form-control"  style="width:206px;"required pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <td>Ph_no</td>
      <td><label>
        <input type="text" name="textfield7" class="form-control" style="width:206px;" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <td>Email</td>
      <td><label>
        <input type="email" name="textfield8"  class="form-control" style="width:206px;" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label>
        <input type="file" name="file" class="form-control" style="width:206px;" required/>
      </label></td>
    </tr>
           <tr>

      <td>Type</td>
      <td><select name="select" id="check" onchange="check()" class="btn btn-light dropdown-toggle" style="width:202px;"  required>
          <option>--select--</option>
          <option value="1">Tutor</option>
          <option value="2">Teacher</option>
      </select></td>
    </tr> <tr style="display: none" class="cat1">

      <td >Class</td>
      <td><select name="select" id="check" class="btn btn-light dropdown-toggle" class="form-control" style="width:206px;">
         <option>--select--</option>
          {% for i in s %}
          <option>{{ i }}</option>
          {% endfor %}

      </select> </td>

    </tr>


    <tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="textfield10" class="form-control" style="width:206px;" required />
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="text" name="textfield11" class="form-control" style="width:206px;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 5 or more characters" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <label>
        <input type="submit" name="Submit" value="ADD"  class="btn btn-primary" />
        </label>
      </div></td>
    </tr>
  </table>
</form>


</body>

{% endblock %}