{% extends 'homepage/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="parentsearch#about">
  <table width="491" height="192" border="1" class="table table-light">

   <tr align="center"  class="table-secondary">
    <td colspan="10"><h2><b>VIEW STUDENT</b></h2></td>

  </tr>

    <tr>
      <th colspan="11">Student Name
        <label>
        <input type="text" name="textfield" />
        </label>
        <label>
 <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>        </label></th>
    </tr>
    <tr>
      <th width="41" height="66">Name</th>
      <th width="39">Ph_no</th>
      <th width="33">Email</th>
      <th width="50">Parent Name </th>
      <th width="33">Class</th>
      <th width="33">DOB</th>
      <th width="45">Gender</th>
      <th width="33">Place</th>
      <th width="27">Post</th>
      <th width="87">Pin</th>
    </tr>{% for i in val %}
    <tr>
      <td><img src="{{ i.photo.url }}" width="100" height="100"><br>{{ i.fname }} {{ i.lname }}</td>
      <td>{{ i.ph_no }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.parent_name}}</td>
      <td>{{ i.Class }}</td>
      <td>{{ i.DOB }}</td>
      <td>{{ i.gender}}</td>
      <td>{{ i.place}}</td>
      <td>{{ i.post}}</td>
      <td>{{ i.pin }}</td>

    </tr>{% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}